@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales{
    padding: 5rem 0;
    background-color: v.$primario;


    &__heading{
        text-align: center;
        font-family: v.$fuente_secundaria;
        color: v.$secundario;
        font-size: 4.2rem;
    }
}

.testimonial{

    &__grid{
        @include m.grid(1,2rem);
        gap: 2rem;

        @include m.tablet { 
            @include m.grid(2,4rem);
            align-items: center;
    
        }
    }

    &__contenido{
        background-color: v.$blanco;
        padding: 1rem 0 1rem 5rem;
        border-radius: 1rem;
    }

    &__texto{
        position: relative;
        
        &::before{
            content: " '' ";
            display: block;
            position: absolute;
            top: 0rem;
            left: -2rem;
            font-size:4.2rem;
            font-weight: 900;
        }

        &::after{
            content: " '' ";
            display: block;
            position: absolute;
            top: 0rem;
            left: 19rem;
            font-size:4.6rem;
            font-weight: 900;
        }
    }

    &__autor{
        text-align: right;
        padding-right: 1rem;
        color: v.$secundario;
        font-family: v.$fuente_secundaria;
        font-weight: 700;
    }
}